[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydantic = "*"
psycopg2 = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
alembic = "*"
asyncpg = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
